<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-button id="open-custom-dialog" expand="block">Select range date</ion-button>

    <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
        <ng-template>
            <div class="wrapper">
                <h1>Dialog header</h1>

                <ion-datetime #datetime presentation="date" preferWheel="false" [multiple]="true" [value]="[]"
                    [showDefaultButtons]="false" [(ngModel)]="myDates" (ngModelChange)="dateChanged()"
                    [highlightedDates]="highlightedDates">

                </ion-datetime>
                <div>
                    <ion-buttons slot="buttons">
                        <ion-button color="danger" (click)="reset()">Reset</ion-button>
                        <ion-button color="primary" (click)="cancel()">Cancel</ion-button>
                        <ion-button color="primary" (click)="confirm()">Confirm</ion-button>
                    </ion-buttons>
                </div>
            </div>
        </ng-template>
    </ion-modal>

</ion-content>
